*{
	padding: 0;
	margin: 0;
}
.wrapper{
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}
body{
	font-family:Roboto;
	background: url(/static/img/Background1.png);
}

.main_{
	margin-left: auto;
	margin-right:auto;
	background:#B07442 url(/static/img/block_bg.png) ;
	background-size: cover;
	border: 3px solid #000000;
	border-radius: 20px;
	box-sizing: border-box;
	padding:0%;
	width: 85%;
	max-width: 1236px;
}
.guide-content{
	display: flex;
	flex-direction: column;
	border-bottom: 3px solid #000000;
	margin-top: 1rem;
	padding: 10px 25px 10px 25px;
}
.guide-text{
	background-color: #553720;
	color: antiquewhite;
	border: 2px solid black;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	padding: 5px;
}
.guide-start{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.guide-end{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.advices{
	padding: 10px 25px 10px 25px;
justify-content: space-between;
background:#635E5ECC url(/static/img/block_bg.png);
	border: 2px black solid;
border-radius: 15px;
	margin-top: 1rem;
}
.advices li{
	margin-top: 1rem;
}
.headline {
	font-weight: bold;
	color: orange;
}
