section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  position: fixed;
  left: 0;top: 0;
  z-index: 99;
  width: 15%;
  height: 100vh;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  transform: translateX(-100%);
  background:#635E5ECC url(/static/img/block_bg.png);
}
::-webkit-scrollbar {
	width: 8px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.menu_active {
  transform: translateX(0%);
}
.menu-list {
  display: flex;
  height: 92%;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1rem;
  overflow: auto;
  justify-content: flex-start;
}
.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  color: orange;
  margin-top: 5px;
}
.menu-btn {
  width: 35px;
  height: 80px;
  background-color: #333;
  position: absolute;
  right: -35px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span:before {
  transform: rotate(35deg);
  width: 10px;
  transform-origin: left bottom;
}
.menu-btn_active span:after {
  transform: rotate(-35deg);
  width: 10px;
  transform-origin: left top;
}

.menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-nav {
  background-color: #fff;
  height: 50px;
  
}
.menu-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
.menu-nav__link {
  transition: 0.5s;
  transform-origin: right center;
  transform: translateX(50%);
  opacity: 0;
}
.menu-nav__link_active {
  transform: translateX(0%);
  opacity: 1;
}