.schemes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.schemes a{
  text-decoration: none;
}
.scheme {
	width: 40%;
	min-height: 180px;
	border: 2px solid #000000;
	border-radius: 30px;
	margin: 5px;
	background: linear-gradient(0deg, rgba(255, 242, 242, 0.18), rgba(255, 242, 242, 0.18)),
linear-gradient(0deg, #553720, #553720);

}
.headline
{
    font-size: calc(16px + 8 * ((100vw - 320px) / (1236 - 320)));
    font-weight: 500;
    display:flex;
    margin-left: 1em;
    margin-right: auto;
    color:orange;
}
.scheme-content{
	display: flex;
  height: 100%;
  align-items: center;
}
.scheme-image {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	margin: 10px;
}
.scheme-image img {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	margin: 10px;
}
.scheme-text {
	font-size: calc(15px + 5 * ((100vw - 320px) / (1236 - 320)));
	background: url(/static/img/block_bg.png), rgba(99, 94, 94, 0.8);
	border-radius: 25px;
	color: #370000A6;
	margin: 5px;
	border: 2px solid black;
	width: 90%;
	padding: 5px;
	height: 90%;
}
.main-text {
  margin: auto;
  margin-top: 5px;
  width: 90%;
}
.popup-recepie{
	margin-left: 20px;
}
.popup_text{
	margin-left: 10px;
	padding: 5px;
	max-width: 300px;
}
.popup-image{
	max-width: 300px;
	max-height: 300px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	border: 2px solid #000;
	background: rgb(26, 24, 24);
}
.popup-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0%;
	left: 0;
	border-radius: 10px;
	border: 2px solid #000;
}
.popup-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: unset;
}
.popup_content{
	max-width: 50%;
	width: unset;
}
.icon
{
	display:inline-block;
	margin:5px;
	position:relative;
	padding:3px;
	width:32px;
	height:32px;
	border:1px solid #4B4543
}
.icon-text
{
	position:absolute;
	bottom:-3px;
	right:2px;
	color:#fff;
	font-size:larger;
	font-weight:bold;
	text-shadow:0px 1px 1px #000,0px -1px 1px #000,1px 0px 1px #000,-1px 0px 1px #000;
	pointer-events:none;
}
.blueprint-copy-btn
{
  background-color:#105482;
  border:3px solid;
  border-color:#c1c1c1 #616161 #616161 #c1c1c1;
  padding:5px;
  width:13em;
  border-radius:3px;
  text-align:center;
	cursor:pointer;
  margin:3px; 
	font-family: inherit;
  font-size: inherit;
  line-height: inherit;
	align-items: center;
  display: inline-flex;
}
.blueprint-copy-btn:active
{background-color:#074774;
 border-color:#616161 #c1c1c1 #c1c1c1 #616161
}
.blueprint-copy-btn img
{
    pointer-events:none
}

@media (max-width:768px){
	.scheme{
		width: 90%;
	}
	.blueprint-copy-btn
	{	
		width: unset;
	}	
}