.speedrun_body{
	display: flex;
	flex-direction: column;
}
.logo{
	display: flex;
	justify-content: center;
}
.logo img {
	width: 55%;
}
.speedrun_text {
	font-size: calc(15px + 5 * ((100vw - 320px) / (1236 - 320)));
} 
.research li,.items li, .researches-all li{
	list-style-position:inside;
}
.researches-all{
	display: flex;
  flex-direction: row;
  justify-content: space-between;
	padding: 5px;
	background: #635E5ECC url(/static/img/block_bg.png);
	border-radius: 15px;
	border: 2px solid black;
	margin-bottom: 5px;
}
.speedrun-chapter{
	display: flex;
	justify-content: center;
  padding: 1rem;
  min-height: 30vh;
  border-bottom: 2px solid black;
  flex-wrap: wrap;
}
.high_res{
	width: 45%;
}
.high_res img{
	width: 100%;
}

.image {
	margin-bottom: 5px;
	position: relative;
	background: url("/static/img/loader.gif") center / 50px no-repeat;
}
.image img {
 width: 100%;
 height: 100%;
 top:0;
 left: 0;
 object-fit: cover;
}
.chapter_headline{
	font-size: 25px;
}
.headline {
	font-weight: bold;
	color: orange;
}
.useful_links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom:2px solid black;
	padding: 5px;
}
.links{
	display: flex;
	flex-direction: column;
  justify-content: space-between;
}
.page_main{
	padding: 1rem;
}
.images{
	height: max-content;
	display: flex;
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
	flex-direction: column;
}
.chapter-disc{
	width: 60%;
}
.tasks{
	width: 30%;
padding: 5px;
margin: 0 2rem;
background:#635E5ECC url(/static/img/block_bg.png);
border-radius: 15px;
border: 2px solid black;
margin-bottom: 5px;
}
.research{
	min-height: 100px;
}
.items{
	min-height:100px ;
}