*{
	padding: 0;
	margin: 0;
}
body{
	font-family:Roboto;
}
.wrapper{
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}
.title{
	font-family: 'Fredericka the Great',cursive;
	color: #B07442; 
	font-size: calc(26px + 34 * ((100vw - 320px) / (1236 - 320)));
	margin: 0 auto;
}
.title img{
	width: 10%;
	max-width: 75px;
}
.main{
	margin-left: auto;
	margin-right:auto;
	background:#B07442 url(/static/img/block_bg.png) ;
	background-size: cover;
	border: 3px solid #000000;
	border-radius: 20px;
	box-sizing: border-box;
	padding:0%;
	width: 85%;
	max-width: 1236px;
}
.main-content{
	display: flex;
	border-bottom: 3px solid #000000;
	margin-top: 1rem;
	padding: 10px 25px;
}
.main-text {
	font-size: calc(15px + 4 * ((100vw - 320px) / (1236 - 320)));
	background: #553720 url(/static//img/block_bg.png);
	border-radius: 10px;
	color: antiquewhite;
	border: 2px solid black;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	padding: 5px;
}
.container{
	max-width: 1170px;
	margin: auto;
	padding: 0;
}
.mtb{
	margin-top: 3rem;
}
.header-content {
	margin: 0;
	padding: 0;
	height: 70px;
  justify-content: space-evenly;
  display: flex;
}
header ul {
	width: 90%;
	height: 100%;
	padding: 0;
	margin: 0;
}
header ul li {
	display: inline-block;
	height: 40px;
	width: 33.3%;
	text-align: center;
	margin-right: -4px;
	padding: 15px 0px;
}
header{
	font-family: Roboto;
	border-bottom:3px solid black;
}
header ul li a{
	display: block;
	font-size: calc(20px + 5 * ((100vw - 320px) / (1280 - 320)));
	color: black;
	font-weight: bold;
	text-decoration: none;
	height: 100%;
	width: 100%;
}
header ul li:hover{
	color: black;
	text-decoration: none;
	background: #95633A;
}
header ul li a:hover{
	color: black;
	text-decoration: none;
	background: #95633A;
}
.footer{
	width: 100%;
	background: #333030  url(/static//img/block_bg.png);;
	font-family: 'Fredericka the Great', cursive; 
	color: #B07442;
	margin-top: auto;
	display: flex;
  justify-content: space-between;
  align-items: center;
	font-weight: 500;
	margin-top: 10px;
} 
.pb-2{
	display: flex;
}
.footer h2 span
{
    display: block;
    margin-bottom: auto;
    margin-top: auto;
}
.footer h4{
	margin-right:20px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
.h2, h2 {
	font-size: calc(1.325rem + .9vw);
}
@media (max-width: 768px) { 
	.main{
		width: 100%;
		max-width: none;
		}
}

@media (min-width: 1200px)
{
	.h2, h2 {
    font-size: 2rem;
}
.h4, h4 {
    font-size: 1.5rem;
}
}

::-webkit-scrollbar {
	width: 6px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgb(0, 0, 0); 
}