.main_{
	margin-left: auto;
	margin-right:auto;
	background:#B07442 url(/static/img/block_bg.png) ;
	background-size: cover;
	border: 3px solid #000000;
	border-radius: 20px;
	box-sizing: border-box;
	padding:0%;
	width: 85%;
	max-width: 1236px;
}
.main-content{
  flex-direction: column;
}
.terms-text {
	font-size: 15px;
	background-color: #553720;
	border-radius: 10px;
	color: antiquewhite;
	border: 2px solid black;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	padding: 10px;
  margin-bottom: 5px;
}
.headline {
	font-weight: bold;
	color: orange;
}
.main-text {
	margin-bottom: 5px;
}
.keyboard-key {
	border: 1px solid #aaa;
	background-color: #1c1c1c !important;
	border-radius: 0.2em;
	box-shadow: 0.1em 0.1em 0.2em rgb(0 0 0 / 10%);
	padding: 0.1em 0.3em;
	font-family: inherit;
	font-size: 0.85em;
}
.blueprint-copy-btn
{
    background-color:#105482;
    border:3px solid;
    border-color:#c1c1c1 #616161 #616161 #c1c1c1;
    padding:5px;
    width:13em;
    border-radius:3px;
    text-align:center;
    cursor:pointer;
     margin:3px; 
}
.blueprint-copy-btn:active
{background-color:#074774;
 border-color:#616161 #c1c1c1 #c1c1c1 #616161
}
.blueprint-copy-btn img
{
    pointer-events:none
}